" General VIM settings
set relativenumber
set showcmd
set showmode
set number
set incsearch
set hlsearch
set ignorecase
set smartcase
set clipboard+=unnamed
"" Move lines up and down in normal and visual mode
"Move the unnamed register to a, b, c or d registers, for further operations. Also paste those registers.
" Create Blank Newlines and stay in Normal mode
nnoremap <silent> zj o<Esc>k
nnoremap <silent> zk O<Esc>j
" Easy move to four directions with control
inoremap <c-k> <up>
inoremap <c-j> <down>
inoremap <c-h> <left>
inoremap <c-l> <right>
""" The Leader Key
let mapleader=" "
inoremap jk <Esc>
vnoremap < <gv
vnoremap > >gv

" IdeaVIM settings
set idearefactormode=keep
set visualbell
set noerrorbells
set noideadelaymacro
set clipboard+=ideaput

nnoremap <leader>v :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap <leader>s :action SplitVertically<CR>
nnoremap <leader>S :action Unsplit<CR>
nnoremap <leader>qq :action CloseContent<CR>
nnoremap <leader>QQ :action ReopenClosedTab<CR>
nnoremap <leader>ww <c-w>w


""" Navigation and move between tabs and windows
""" Gotos
nnoremap <leader>gE :action GotoPreviousError<CR>
nnoremap <leader>ge :action GotoNextError<CR>
nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>gt :action GotoTest<CR>
nnoremap <leader>gb :action Back<CR>
nnoremap <leader>gB :action Forward<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>gc :action JumpToLastChange<CR>
""" Bookmarks
nnoremap <leader>bt :<C-u>action ToggleBookmark<CR>
nnoremap <leader>bn :<C-u>action GotoNextBookmark<CR>
nnoremap <leader>bp :<C-u>action GotoPreviousBookmark<CR>
nnoremap <leader>bs :<C-u>action ShowBookmarks<CR>
""" Quick Help
nnoremap <leader>qf :action QuickImplementations<CR>
nnoremap <leader>qt :action QuickTypeDefinition<CR>
nnoremap <leader>qd :action QuickJavaDoc<CR>
""" Expand and Collapse
nnoremap <leader>er :action ExpandRegion<CR>
nnoremap <leader>ea :action ExpandAllRegions<CR>
nnoremap <leader>cr :action CollapseRegion<CR>
nnoremap <leader>ca :action CollapseAllRegions<CR>
""" Find and Replace
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>fF :action FindInPath<CR>
nnoremap <leader>ff :action Find<CR>
nnoremap <leader>fR :action ReplaceInPath<CR>
nnoremap <leader>fr :action Replace<CR>
""" Refactorings
vnoremap <leader>rf :action ReformatCode<CR>
nnoremap <leader>rf :action ReformatCode<CR>
nnoremap <leader>ra :action ShowReformatFileDialog<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>rp :action Refactorings.QuickListPopupAction<CR>
vnoremap <leader>rp :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>ri :action ShowIntentionActions<CR>
vnoremap <leader>ri :action ShowIntentionActions<CR>
nnoremap <leader>ro :action OptimizeImports<CR>
nnoremap <leader>rg :action Generate<CR>
""" Running and Debugging
nnoremap <leader>ir :action ContextRun<CR>
nnoremap <leader>ic :action ChooseRunConfiguration<CR>
nnoremap <leader>it :action RerunTests<CR>
nnoremap <leader>iT :action RerunFailedTests<CR>
nnoremap <leader>dr :action Debug<CR>
nnoremap <leader>db :action ToggleLineBreakpoint<CR>

""" Plugins
Plug 'easymotion/vim-easymotion'
map , <Plug>(easymotion-prefix)
map ,f <Plug>(easymotion-bd-f)
map ,t <Plug>(easymotion-bd-t)
map ,w <Plug>(easymotion-bd-w)
map ,W <Plug>(easymotion-bd-W)
map ,e <Plug>(easymotion-bd-e)
map ,E <Plug>(easymotion-bd-E)
map ,l <Plug>(easymotion-bd-jk)
map ,s <Plug>(easymotion-bd-f2)
map ,S <Plug>(easymotion-bd-t2)

Plug 'tpope/vim-surround'
""" It does not work very well, only use with visual model and A-n

set multiple-cursors
Plug 'terryma/vim-multiple-cursors'
nmap ,ma <Plug>NextWholeOccurrence
xmap ,ma <Plug>NextWholeOccurrence
nmap ,ms <Plug>SkipOccurrence
xmap ,ms <Plug>SkipOccurrence

Plug 'tpope/vim-commentary'
Plug 'michaeljsmith/vim-indent-object'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'tommcdo/vim-exchange'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'vim-scripts/argtextobj.vim'
Plug 'dbakker/vim-paragraph-motion'
Plug 'kana/vim-textobj-entire'
set ideajoin
